/*<meta />*/

p
{
	margin-bottom: 6pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ol
{
	margin-bottom: 6pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ul
{
	margin-bottom: 6pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

li
{
	margin-bottom: 6pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

td
{
	margin-bottom: 6pt;
	font-family: Calibri;
	font-size: 11pt;
	vertical-align: top;
}

h1.Heading1
{
	margin-bottom: 6pt;
	page-break-after: avoid;
	page-break-before: always;
	margin-top: 18pt;
	mc-heading-level: 1;
	font-family: Arial;
	font-weight: bold;
	color: #1866A4;
	letter-spacing: 0pt;
	font-size: 18pt;
}

h2.Heading2
{
	margin-bottom: 6pt;
	page-break-after: avoid;
	margin-top: 12pt;
	mc-heading-level: 2;
	font-family: Arial;
	font-weight: bold;
	color: #1866A4;
	font-size: 13pt;
}

h3.Heading3
{
	margin-bottom: 6pt;
	page-break-after: avoid;
	margin-top: 18pt;
	font-weight: bold;
	color: #1866A4;
	letter-spacing: 0pt;
	page-break-before: always;
	mc-heading-level: 3;
	font-family: Arial;
	font-style: italic;
	font-size: 12pt;
}

span.span_1
{
	font-weight: bold;
}

li.ListParagraph
{
	margin-bottom: 6pt;
	font-family: Arial;
	font-size: 10pt;
}

MadCap|xref.ParaTextOnly
{
	mc-format: '{paratext}';
}

MadCap|xref.PageNumberOnly
{
	mc-format: '{page}';
}

li.Step
{
	margin-bottom: 6pt;
	font-size: 10pt;
	font-family: Arial;
}

li.Step2
{
	margin-bottom: 6pt;
	font-size: 10pt;
	font-family: Arial;
}

li.ListParagraph_1
{
	margin-bottom: 6pt;
	font-family: Arial;
	font-size: 10pt;
	list-style-type: disc;
	font-weight: bold;
}

li.ListParagraph_2
{
	margin-bottom: 6pt;
	font-family: Arial;
	font-size: 10pt;
	list-style-type: disc;
}

ul.ul_1
{
	list-style-type: disc;
	margin-left: 36pt;
}

li.ListParagraph_3
{
	margin-bottom: 6pt;
	font-family: Arial;
	font-size: 10pt;
	list-style-type: disc;
	background-color: #FFFF00;
}

p.p_1
{
	font-weight: bold;
}

ol.ol_1
{
	list-style-type: decimal;
	margin-left: 18pt;
}

span.span_2
{
	font-family: 'Courier New';
}

ol.ol_2
{
	list-style-type: lower-alpha;
	margin-left: 54pt;
}

p.Emphasis
{
	font-style: italic;
}

span.span_3
{
	font-style: italic;
}

li.ListParagraph_4
{
	margin-bottom: 6pt;
	font-family: Arial;
	font-size: 10pt;
	list-style-type: disc;
	font-style: italic;
}

p.Caption
{
	margin-bottom: 12pt;
	margin-left: 36pt;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color: #1866A4;
}

p.Step2
{
	margin-bottom: 6pt;
	font-size: 10pt;
	font-family: Arial;
}

p.p_2
{
	page-break-after: avoid;
	margin-top: 12pt;
}

p.p_3
{
	page-break-after: avoid;
	margin-bottom: 12pt;
}

p.p_4
{
	margin-bottom: 0pt;
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
}

td.td_1
{
	background-color: #4F81BD;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #4F81BD;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #4F81BD;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #4F81BD;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #4F81BD;
}

td.td_2
{
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #4F81BD;
	background-color: #4F81BD;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #4F81BD;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #4F81BD;
}

p.p_5
{
	margin-bottom: 0pt;
	font-weight: bold;
	color: #000000;
	font-size: 9pt;
}

td.td_3
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #4F81BD;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #4F81BD;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #4F81BD;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	background-color: #auto;
}

p.p_6
{
	margin-bottom: 0pt;
	color: #000000;
	font-size: 9pt;
}

td.td_4
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #4F81BD;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #4F81BD;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #4F81BD;
	background-color: #auto;
}

td.td_5
{
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	background-color: #auto;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #4F81BD;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #4F81BD;
}

table.table_1
{
	border-collapse: collapse;
}

li.ListParagraph_5
{
	margin-bottom: 6pt;
	font-family: Arial;
	font-size: 10pt;
	list-style-type: circle;
}

li.ListParagraph_6
{
	font-family: Arial;
	font-size: 10pt;
	margin-bottom: 12pt;
}

ul.ul_2
{
	list-style-type: circle;
	margin-left: 54pt;
}

p.p_7
{
	page-break-after: avoid;
	margin-top: 6pt;
	font-weight: bold;
}

p.Step2_1
{
	margin-bottom: 6pt;
	font-size: 10pt;
	font-family: Arial;
	page-break-after: avoid;
}

p.p_8
{
	margin-left: 54pt;
}

p.p_9
{
	page-break-after: avoid;
}

p.p_10
{
	margin-bottom: 0pt;
	font-weight: bold;
	font-size: 9pt;
}

p.p_11
{
	margin-bottom: 0pt;
	font-size: 9pt;
}

span.span_4
{
	font-size: 9pt;
}

span.span_5
{
	font-weight: bold;
	font-size: 9pt;
}

p.p_12
{
	margin-bottom: 0pt;
}

span.span_6
{
	font-weight: bold;
	font-style: italic;
	font-size: 9pt;
}

span.span_7
{
	font-size: 9pt;
	background-color: #FFFF00;
}

span.span_8
{
	font-weight: bold;
	font-size: 9pt;
	background-color: #FFFF00;
}

p.Caption_1
{
	margin-bottom: 12pt;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color: #1866A4;
	margin-left: 0pt;
}

li.Step_1
{
	margin-bottom: 6pt;
	margin-left: 36pt;
	font-family: Arial;
	font-size: 10pt;
}

p.p_13
{
	margin-left: 18pt;
}

span.span_9
{
	background-color: #FFFF00;
}

span.span_10
{
	font-weight: bold;
	background-color: #FFFF00;
}

li.Step_1_1
{
	margin-bottom: 6pt;
	margin-left: 36pt;
	font-family: Arial;
	font-size: 10pt;
	background-color: #FFFF00;
}

p.p_14
{
	margin-bottom: 6pt;
	font-family: Arial;
	margin-top: 0pt;
	font-size: 10pt;
}

ol.ol_3
{
	margin-bottom: 6pt;
	font-family: Arial;
	margin-top: 0pt;
	font-size: 10pt;
}

ul.ul_3
{
	margin-bottom: 6pt;
	font-family: Arial;
	margin-top: 0pt;
	font-size: 10pt;
}

li.li_1
{
	margin-bottom: 6pt;
	font-family: Arial;
	margin-top: 0pt;
	font-size: 10pt;
}

td.td_6
{
	font-size: 11pt;
	margin-bottom: 6pt;
	font-family: Arial;
	vertical-align: top;
}

p.Header
{
	margin-bottom: 0pt;
	font-family: Arial;
}

p.NoSpacing
{
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: italic;
	font-size: 9pt;
}

p.Footer
{
	margin-bottom: 0pt;
	font-family: Arial;
}

p.Title
{
	margin-bottom: 6pt;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 18pt;
}

span.IntenseEmphasis
{
	font-weight: bold;
	font-style: italic;
	color: #4F81BD;
}

p.Subtitle
{
	margin-bottom: 6pt;
	margin-top: 24pt;
	font-family: Arial;
	font-weight: bold;
	color: #4070AA;
	font-size: 18pt;
}

h5.Heading5
{
	page-break-after: avoid;
	margin-top: 10pt;
	margin-bottom: 0pt;
	mc-heading-level: 5;
	font-family: Cambria;
	color: #243F60;
	font-weight: normal;
}

span.SubtleEmphasis
{
	font-style: italic;
	color: #808080;
}

p.TOCHeading
{
	margin-bottom: 6pt;
	font-weight: bold;
	page-break-after: avoid;
	page-break-before: always;
	margin-top: 18pt;
	mc-heading-level: 10;
	font-family: Arial;
	color: #365F91;
	font-size: 12pt;
}

p.TOC1
{
	margin-bottom: 6pt;
	margin-top: 12pt;
	font-family: Arial;
	font-weight: bold;
}

p.TOC2
{
	margin-top: 6pt;
	margin-bottom: 0pt;
	margin-left: 11pt;
	font-family: Arial;
}

p.TOC3
{
	margin-top: 6pt;
	margin-bottom: 0pt;
	margin-left: 22pt;
	font-family: Arial;
	font-style: italic;
}

span.Emphasis
{
	font-style: italic;
}

p.Step2_2
{
	font-size: 10pt;
	margin-bottom: 6pt;
	margin-left: 36pt;
	font-family: Arial;
}

span.CommentReference
{
	font-size: 8pt;
}

p.Step
{
	margin-bottom: 6pt;
	font-family: Arial;
}

h3.Heading3_1
{
	letter-spacing: 0pt;
	margin-bottom: 6pt;
	font-weight: bold;
	page-break-after: avoid;
	color: #1866A4;
	page-break-before: always;
	margin-top: 6pt;
	mc-heading-level: 3;
	font-family: Arial;
	font-style: italic;
	font-size: 12pt;
}

span.IntenseEmphasis_1
{
	font-weight: bold;
	font-style: italic;
	color: #4F81BD;
	font-size: 36pt;
}

div.div_1
{
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
}

span.span_11
{
	color: #1866A4;
}

p.Subtitle_1
{
	margin-bottom: 6pt;
	margin-top: 24pt;
	font-family: Arial;
	font-weight: bold;
	color: #4070AA;
	font-size: 18pt;
	text-align: center;
}

span.SubtleEmphasis_1
{
	font-style: italic;
	color: #808080;
	font-family: Arial;
}

p.p_15
{
	margin-left: 18pt;
	font-size: 9pt;
}

p.p_16
{
	margin-left: 18pt;
	font-weight: bold;
	font-size: 9pt;
}

p.TOCHeading_1
{
	margin-bottom: 6pt;
	font-weight: bold;
	page-break-after: avoid;
	page-break-before: always;
	margin-top: 18pt;
	mc-heading-level: 10;
	font-family: Arial;
	color: #365F91;
	font-size: 18pt;
}

span.Emphasis_1
{
	font-style: italic;
	font-weight: bold;
}

ul.ul_4
{
	list-style-type: circle;
	margin-left: 72pt;
}

p.p_17
{
	margin-left: 36pt;
}

img.img_1
{
	visibility: visible;
	mso-wrap-style: square;
}

span.span_12
{
	margin-right: 0pt;
}

p.Step2_2_1
{
	font-size: 10pt;
	margin-bottom: 6pt;
	margin-left: 36pt;
	font-family: Arial;
	page-break-after: avoid;
}

p.p_18
{
	margin-bottom: 12pt;
}

td.td_7
{
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	background-color: #auto;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #4F81BD;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #4F81BD;
}

li.ListParagraph_7
{
	font-family: Arial;
	margin-bottom: 0pt;
	margin-left: 13pt;
	font-size: 9pt;
}

li.ListParagraph_8
{
	font-family: Arial;
	font-size: 10pt;
	margin-bottom: 0pt;
	margin-left: 13pt;
}

table.table_2
{
	margin-left: 5pt;
	border-collapse: collapse;
}

p.p_19
{
	margin-top: 12pt;
}

p.Step_1
{
	margin-bottom: 6pt;
	font-family: Arial;
	margin-left: 0pt;
}

p.Step_2
{
	margin-bottom: 6pt;
	font-family: Arial;
	margin-left: 0pt;
	font-weight: bold;
}

span.span_13
{
	font-weight: bold;
	font-size: 11pt;
}

span.span_14
{
	font-style: italic;
	background-color: #FFFF00;
}

p.Step_3
{
	margin-bottom: 6pt;
	font-family: Arial;
	margin-left: 18pt;
}

span.span_15
{
	font-style: italic;
	color: #0066FF;
}

span.span_16
{
	font-family: 'MS Gothic';
}

span.span_17
{
	font-weight: bold;
	color: #FFFFFF;
}

p.p_20
{
	margin-bottom: 0pt;
	text-align: center;
}

li.ListParagraph_9
{
	margin-bottom: 6pt;
	font-family: Arial;
	font-size: 10pt;
	page-break-after: avoid;
}

td.td_8
{
	background-color: #auto;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #4F81BD;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #4F81BD;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #4F81BD;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #4F81BD;
}

td.td_9
{
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #4F81BD;
	background-color: #auto;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #4F81BD;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #4F81BD;
}

span.span_18
{
	font-family: 'Courier New';
	font-size: 9pt;
}

li.ListParagraph_10
{
	margin-bottom: 6pt;
	font-family: Arial;
	font-size: 10pt;
	margin-left: 54pt;
}

span.span_19
{
	font-family: 'Courier New';
	font-style: italic;
}

span.span_20
{
	text-decoration: underline;
}

p.p_21
{
	margin-bottom: 0pt;
	margin-left: 18pt;
}

li.ListParagraph_11
{
	font-family: Arial;
	font-size: 10pt;
	margin-bottom: 0pt;
}

td.td_10
{
	background-color: #auto;
	padding-left: 6pt;
	padding-bottom: 4pt;
	padding-right: 6pt;
}

td.td_11
{
	background-color: #auto;
	vertical-align: middle;
}

td.td_12
{
	background-color: #auto;
}

td.td_13
{
	background-color: #auto;
	padding-left: 6pt;
	padding-bottom: 6pt;
	padding-right: 6pt;
}

li.ListParagraph_12
{
	margin-bottom: 6pt;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 6pt;
}

p.Step_4
{
	margin-bottom: 6pt;
	font-family: Arial;
	page-break-after: avoid;
}

p.Step_5
{
	margin-bottom: 6pt;
	font-family: Arial;
	page-break-after: avoid;
	font-weight: bold;
}

span.span_21
{
	font-weight: normal;
}

span.span_22
{
	font-family: Wingdings;
}

p.p_22
{
	background-color: #FFFF00;
}

li.ListParagraph_13
{
	font-family: Arial;
	margin-bottom: 0pt;
	font-size: 8pt;
}

td.td_14
{
	background-color: #auto;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
}

td.td_15
{
	background-color: #auto;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
}

span.span_23
{
	background-color: #A9A9A9;
	font-family: Wingdings;
}

span.span_24
{
	background-color: #A9A9A9;
}

span.span_25
{
	font-weight: bold;
	background-color: #A9A9A9;
}

p.p_23
{
	font-weight: bold;
	background-color: #A9A9A9;
}

span.span_26
{
	font-style: italic;
	background-color: #A9A9A9;
}

p.Step2_2_2
{
	font-size: 10pt;
	margin-bottom: 6pt;
	margin-left: 36pt;
	font-family: Arial;
	background-color: #A9A9A9;
}

span.span_27
{
	font-family: 'Courier New';
	background-color: #A9A9A9;
}

span.span_28
{
	font-family: 'Courier New';
	font-style: italic;
	color: #548DD4;
	background-color: #A9A9A9;
}

li.ListParagraph_14
{
	margin-bottom: 6pt;
	font-family: Arial;
	font-size: 10pt;
	background-color: #A9A9A9;
}

li.ListParagraph_15
{
	margin-bottom: 6pt;
	font-family: Arial;
	font-size: 10pt;
	page-break-after: avoid;
	background-color: #A9A9A9;
}

span.span_29
{
	font-size: 9pt;
	background-color: #A9A9A9;
}

span.span_30
{
	font-family: 'Courier New';
	font-size: 9pt;
	background-color: #A9A9A9;
}

ul.ul_5
{
	list-style-type: disc;
	margin-left: 72pt;
}

p.p_24
{
	margin-left: 18pt;
	font-family: 'Courier New';
	font-size: 9pt;
	background-color: #A9A9A9;
}

p.p_25
{
	margin-bottom: 0pt;
	margin-left: 8pt;
	font-family: 'Courier New';
	font-size: 9pt;
}

span.span_31
{
	font-family: 'Courier New';
	font-size: 9pt;
	background-color: #FFFF00;
}

span.span_32
{
	font-family: 'Courier New';
	font-style: italic;
	color: #0070C0;
	font-size: 9pt;
}

p.p_26
{
	margin-bottom: 0pt;
	margin-left: 8pt;
}

p.p_27
{
	margin-top: 12pt;
	font-weight: bold;
}

ol.ol_4
{
	list-style-type: lower-roman;
	margin-left: 90pt;
}

p.p_28
{
	margin-left: 90pt;
}

p.Step2_2_3
{
	font-size: 10pt;
	margin-bottom: 6pt;
	font-family: Arial;
	margin-left: 81pt;
}

span.span_33
{
	font-family: 'Courier New';
	font-size: 8pt;
}

span.span_34
{
	font-family: 'Courier New';
	color: #0070C0;
}

span.span_35
{
	font-family: 'Courier New';
	font-style: italic;
	color: #0070C0;
}

span.span_36
{
	font-family: 'Courier New';
	font-style: italic;
	color: #548DD4;
}

li.Step_1_2
{
	margin-bottom: 6pt;
	margin-left: 36pt;
	font-family: Arial;
	font-size: 10pt;
	page-break-after: avoid;
}

h2.Heading2_1
{
	margin-bottom: 6pt;
	page-break-after: avoid;
	margin-top: 12pt;
	mc-heading-level: 2;
	font-family: Arial;
	font-weight: bold;
	color: #1866A4;
	font-size: 13pt;
	background-color: #FFFF00;
}

h3.Heading3_2
{
	letter-spacing: 0pt;
	page-break-before: always;
	page-break-after: avoid;
	font-weight: bold;
	page-break-inside: avoid;
	margin-top: 18pt;
	margin-bottom: 6pt;
	mc-heading-level: 3;
	font-family: Arial;
	font-style: italic;
	color: #1866A4;
	font-size: 12pt;
}

