/*<meta />*/

p.MyStyle
{
	font-family: Arial;
	font-size: 12pt;
	margin: 0px;
}

img
{
	border: solid 1px #000000;
}

a.Popup
{
	
}

@media print
{
	html.NetQuest
	{
		
	}

	html.NetQuestBG
	{
		
	}

	html.NetQuestBGMin
	{
		
	}

	body.NetQuest
	{
		background-image: url('../Images/background.jpg');
	}
}

strong.gui
{
	
}

