/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		text-align: left;
		separator-style: none;
		separator-width: 0px;
		separator-color: #000000;
	}

	mcTableColumnStyle
	{
		text-align: center;
		separator-style: solid;
		separator-width: 1px;
		separator-color: #000000;
	}

	mcTableColumnStyle
	{
		text-align: right;
		separator-style: solid;
		separator-width: 1px;
		separator-color: #000000;
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

@media non-print
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		text-align: left;
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: 10pt-Basic_TB;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 7;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	name: Column1;
	id: 0;
	font-size: 10pt;
	color: #000000;
	type: Automatic;
	separator-color: #000000;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column2;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
}

mcTableColumnStyle
{
	span: 1;
	id: 6;
	name: Column3;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	background-color: #99ccff;
	name: Header1;
	id: 2;
	font-size: 10pt;
	font-family: Arial;
	color: #000000;
	font-weight: bolder;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	page-break-inside: avoid;
	font-family: Arial;
	color: #000000;
	font-size: 10pt;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
	font-size: 10pt;
	font-family: Arial;
	color: #000000;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-10pt-Basic_TB
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-10pt-Basic_TB-HeadI-Column1-Header1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-HeadE-Column1-Header1
	{
		text-align: left;
		border-right-width: 0px;
		border-right-color: #000000;
		border-right-style: none;
	}

	.TableStyle-10pt-Basic_TB-HeadF-Column1-Header1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-HeadH-Column1-Header1
	{
		text-align: left;
		border-right-width: 0px;
		border-right-color: #000000;
		border-right-style: none;
	}

	.TableStyle-10pt-Basic_TB-HeadD-Column1-Header1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-HeadC-Column1-Header1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-HeadB-Column1-Header1
	{
		text-align: left;
		border-right-width: 0px;
		border-right-color: #000000;
		border-right-style: none;
	}

	.TableStyle-10pt-Basic_TB-HeadA-Column1-Header1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-HeadG-Column1-Header1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-HeadI-Column2-Header1
	{
		text-align: center;
	}

	.TableStyle-10pt-Basic_TB-HeadE-Column2-Header1
	{
		text-align: center;
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: solid;
	}

	.TableStyle-10pt-Basic_TB-HeadF-Column2-Header1
	{
		text-align: center;
	}

	.TableStyle-10pt-Basic_TB-HeadH-Column2-Header1
	{
		text-align: center;
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: solid;
	}

	.TableStyle-10pt-Basic_TB-HeadD-Column2-Header1
	{
		text-align: center;
	}

	.TableStyle-10pt-Basic_TB-HeadC-Column2-Header1
	{
		text-align: center;
	}

	.TableStyle-10pt-Basic_TB-HeadB-Column2-Header1
	{
		text-align: center;
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: solid;
	}

	.TableStyle-10pt-Basic_TB-HeadA-Column2-Header1
	{
		text-align: center;
	}

	.TableStyle-10pt-Basic_TB-HeadG-Column2-Header1
	{
		text-align: center;
	}

	.TableStyle-10pt-Basic_TB-HeadI-Column3-Header1
	{
		text-align: right;
	}

	.TableStyle-10pt-Basic_TB-HeadE-Column3-Header1
	{
		text-align: right;
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: solid;
	}

	.TableStyle-10pt-Basic_TB-HeadF-Column3-Header1
	{
		text-align: right;
	}

	.TableStyle-10pt-Basic_TB-HeadH-Column3-Header1
	{
		text-align: right;
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: solid;
	}

	.TableStyle-10pt-Basic_TB-HeadD-Column3-Header1
	{
		text-align: right;
	}

	.TableStyle-10pt-Basic_TB-HeadC-Column3-Header1
	{
		text-align: right;
	}

	.TableStyle-10pt-Basic_TB-HeadB-Column3-Header1
	{
		text-align: right;
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: solid;
	}

	.TableStyle-10pt-Basic_TB-HeadA-Column3-Header1
	{
		text-align: right;
	}

	.TableStyle-10pt-Basic_TB-HeadG-Column3-Header1
	{
		text-align: right;
	}

	.TableStyle-10pt-Basic_TB-FootI-Column1-Footer1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-FootE-Column1-Footer1
	{
		text-align: left;
		border-right-width: 0px;
		border-right-color: #000000;
		border-right-style: none;
	}

	.TableStyle-10pt-Basic_TB-FootF-Column1-Footer1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-FootH-Column1-Footer1
	{
		text-align: left;
		border-right-width: 0px;
		border-right-color: #000000;
		border-right-style: none;
	}

	.TableStyle-10pt-Basic_TB-FootD-Column1-Footer1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-FootC-Column1-Footer1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-FootB-Column1-Footer1
	{
		text-align: left;
		border-right-width: 0px;
		border-right-color: #000000;
		border-right-style: none;
	}

	.TableStyle-10pt-Basic_TB-FootA-Column1-Footer1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-FootG-Column1-Footer1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-FootI-Column2-Footer1
	{
		text-align: center;
	}

	.TableStyle-10pt-Basic_TB-FootE-Column2-Footer1
	{
		text-align: center;
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: solid;
	}

	.TableStyle-10pt-Basic_TB-FootF-Column2-Footer1
	{
		text-align: center;
	}

	.TableStyle-10pt-Basic_TB-FootH-Column2-Footer1
	{
		text-align: center;
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: solid;
	}

	.TableStyle-10pt-Basic_TB-FootD-Column2-Footer1
	{
		text-align: center;
	}

	.TableStyle-10pt-Basic_TB-FootC-Column2-Footer1
	{
		text-align: center;
	}

	.TableStyle-10pt-Basic_TB-FootB-Column2-Footer1
	{
		text-align: center;
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: solid;
	}

	.TableStyle-10pt-Basic_TB-FootA-Column2-Footer1
	{
		text-align: center;
	}

	.TableStyle-10pt-Basic_TB-FootG-Column2-Footer1
	{
		text-align: center;
	}

	.TableStyle-10pt-Basic_TB-FootI-Column3-Footer1
	{
		text-align: right;
	}

	.TableStyle-10pt-Basic_TB-FootE-Column3-Footer1
	{
		text-align: right;
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: solid;
	}

	.TableStyle-10pt-Basic_TB-FootF-Column3-Footer1
	{
		text-align: right;
	}

	.TableStyle-10pt-Basic_TB-FootH-Column3-Footer1
	{
		text-align: right;
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: solid;
	}

	.TableStyle-10pt-Basic_TB-FootD-Column3-Footer1
	{
		text-align: right;
	}

	.TableStyle-10pt-Basic_TB-FootC-Column3-Footer1
	{
		text-align: right;
	}

	.TableStyle-10pt-Basic_TB-FootB-Column3-Footer1
	{
		text-align: right;
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: solid;
	}

	.TableStyle-10pt-Basic_TB-FootA-Column3-Footer1
	{
		text-align: right;
	}

	.TableStyle-10pt-Basic_TB-FootG-Column3-Footer1
	{
		text-align: right;
	}

	.TableStyle-10pt-Basic_TB-BodyI-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyE-Column1-Body1
	{
		text-align: left;
		border-right-width: 0px;
		border-right-color: #000000;
		border-right-style: none;
	}

	.TableStyle-10pt-Basic_TB-BodyF-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyH-Column1-Body1
	{
		text-align: left;
		border-right-width: 0px;
		border-right-color: #000000;
		border-right-style: none;
	}

	.TableStyle-10pt-Basic_TB-BodyD-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyC-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyB-Column1-Body1
	{
		text-align: left;
		border-right-width: 0px;
		border-right-color: #000000;
		border-right-style: none;
	}

	.TableStyle-10pt-Basic_TB-BodyA-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyG-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyI-Column2-Body1
	{
		text-align: center;
	}

	.TableStyle-10pt-Basic_TB-BodyE-Column2-Body1
	{
		text-align: center;
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: solid;
	}

	.TableStyle-10pt-Basic_TB-BodyF-Column2-Body1
	{
		text-align: center;
	}

	.TableStyle-10pt-Basic_TB-BodyH-Column2-Body1
	{
		text-align: center;
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: solid;
	}

	.TableStyle-10pt-Basic_TB-BodyD-Column2-Body1
	{
		text-align: center;
	}

	.TableStyle-10pt-Basic_TB-BodyC-Column2-Body1
	{
		text-align: center;
	}

	.TableStyle-10pt-Basic_TB-BodyB-Column2-Body1
	{
		text-align: center;
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: solid;
	}

	.TableStyle-10pt-Basic_TB-BodyA-Column2-Body1
	{
		text-align: center;
	}

	.TableStyle-10pt-Basic_TB-BodyG-Column2-Body1
	{
		text-align: center;
	}

	.TableStyle-10pt-Basic_TB-BodyI-Column3-Body1
	{
		text-align: right;
	}

	.TableStyle-10pt-Basic_TB-BodyE-Column3-Body1
	{
		text-align: right;
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: solid;
	}

	.TableStyle-10pt-Basic_TB-BodyF-Column3-Body1
	{
		text-align: right;
	}

	.TableStyle-10pt-Basic_TB-BodyH-Column3-Body1
	{
		text-align: right;
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: solid;
	}

	.TableStyle-10pt-Basic_TB-BodyD-Column3-Body1
	{
		text-align: right;
	}

	.TableStyle-10pt-Basic_TB-BodyC-Column3-Body1
	{
		text-align: right;
	}

	.TableStyle-10pt-Basic_TB-BodyB-Column3-Body1
	{
		text-align: right;
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: solid;
	}

	.TableStyle-10pt-Basic_TB-BodyA-Column3-Body1
	{
		text-align: right;
	}

	.TableStyle-10pt-Basic_TB-BodyG-Column3-Body1
	{
		text-align: right;
	}
}

@media non-print
{
	.TableStyle-10pt-Basic_TB
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-10pt-Basic_TB-BodyI-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyE-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyF-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyH-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyD-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyC-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyB-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyA-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyG-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyI-Column2-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyE-Column2-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyF-Column2-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyH-Column2-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyD-Column2-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyC-Column2-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyB-Column2-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyA-Column2-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyG-Column2-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyI-Column3-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyE-Column3-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyF-Column3-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyH-Column3-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyD-Column3-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyC-Column3-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyB-Column3-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyA-Column3-Body1
	{
		text-align: left;
	}

	.TableStyle-10pt-Basic_TB-BodyG-Column3-Body1
	{
		text-align: left;
	}
}

.TableStyle-10pt-Basic_TB
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-10pt-Basic_TB-Column-Column1
{
	
}

.TableStyle-10pt-Basic_TB-Column-Column2
{
	
}

.TableStyle-10pt-Basic_TB-Column-Column3
{
	
}

.TableStyle-10pt-Basic_TB-Head-Header1
{
	
}

.TableStyle-10pt-Basic_TB-HeadI-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-10pt-Basic_TB-HeadI-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-10pt-Basic_TB-HeadE-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadF-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-10pt-Basic_TB-HeadF-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-10pt-Basic_TB-HeadH-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadD-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-10pt-Basic_TB-HeadD-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadC-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-10pt-Basic_TB-HeadC-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-10pt-Basic_TB-HeadB-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadA-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-10pt-Basic_TB-HeadA-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadG-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-10pt-Basic_TB-HeadG-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadI-Column2-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-10pt-Basic_TB-HeadI-Column2-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadE-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-10pt-Basic_TB-HeadE-Column2-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadF-Column2-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-10pt-Basic_TB-HeadF-Column2-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadH-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-10pt-Basic_TB-HeadH-Column2-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadD-Column2-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-10pt-Basic_TB-HeadD-Column2-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadC-Column2-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-10pt-Basic_TB-HeadC-Column2-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadB-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-10pt-Basic_TB-HeadB-Column2-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadA-Column2-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-10pt-Basic_TB-HeadA-Column2-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadG-Column2-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-10pt-Basic_TB-HeadG-Column2-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadI-Column3-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-10pt-Basic_TB-HeadI-Column3-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadE-Column3-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-10pt-Basic_TB-HeadE-Column3-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadF-Column3-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-10pt-Basic_TB-HeadF-Column3-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadH-Column3-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-10pt-Basic_TB-HeadH-Column3-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadD-Column3-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-10pt-Basic_TB-HeadD-Column3-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadC-Column3-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-10pt-Basic_TB-HeadC-Column3-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadB-Column3-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-10pt-Basic_TB-HeadB-Column3-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadA-Column3-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-10pt-Basic_TB-HeadA-Column3-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-HeadG-Column3-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-10pt-Basic_TB-HeadG-Column3-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-10pt-Basic_TB-Foot-Footer1
{
	
}

.TableStyle-10pt-Basic_TB-FootI-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootI-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-10pt-Basic_TB-FootE-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootF-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-10pt-Basic_TB-FootF-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootH-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootD-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-10pt-Basic_TB-FootD-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootC-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootC-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootB-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootA-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootA-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootG-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootG-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootI-Column2-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootI-Column2-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootE-Column2-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-10pt-Basic_TB-FootE-Column2-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootF-Column2-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-10pt-Basic_TB-FootF-Column2-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootH-Column2-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootH-Column2-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootD-Column2-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-10pt-Basic_TB-FootD-Column2-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootC-Column2-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootC-Column2-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootB-Column2-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootB-Column2-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootA-Column2-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootA-Column2-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootG-Column2-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootG-Column2-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootI-Column3-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootI-Column3-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootE-Column3-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-10pt-Basic_TB-FootE-Column3-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootF-Column3-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-10pt-Basic_TB-FootF-Column3-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootH-Column3-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootH-Column3-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootD-Column3-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-10pt-Basic_TB-FootD-Column3-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootC-Column3-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootC-Column3-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootB-Column3-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootB-Column3-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootA-Column3-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootA-Column3-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootG-Column3-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-FootG-Column3-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-10pt-Basic_TB-BodyI-Column1-Body1
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-BodyI-Column1-Body1 p
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-BodyE-Column1-Body1
{
	font-family: Arial;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #000000;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-10pt-Basic_TB-BodyE-Column1-Body1 p
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-BodyF-Column1-Body1
{
	font-family: Arial;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-BodyF-Column1-Body1 p
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-BodyH-Column1-Body1
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-10pt-Basic_TB-BodyH-Column1-Body1 p
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-BodyD-Column1-Body1
{
	font-family: Arial;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-BodyD-Column1-Body1 p
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-BodyC-Column1-Body1
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-BodyC-Column1-Body1 p
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-BodyB-Column1-Body1
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-10pt-Basic_TB-BodyB-Column1-Body1 p
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-BodyA-Column1-Body1
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-BodyA-Column1-Body1 p
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-BodyG-Column1-Body1
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-BodyG-Column1-Body1 p
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-10pt-Basic_TB-BodyI-Column2-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyI-Column2-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyE-Column2-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-10pt-Basic_TB-BodyE-Column2-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyF-Column2-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-10pt-Basic_TB-BodyF-Column2-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyH-Column2-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-10pt-Basic_TB-BodyH-Column2-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyD-Column2-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-10pt-Basic_TB-BodyD-Column2-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyC-Column2-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyC-Column2-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyB-Column2-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-10pt-Basic_TB-BodyB-Column2-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyA-Column2-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyA-Column2-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyG-Column2-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyG-Column2-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyI-Column3-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyI-Column3-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyE-Column3-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-10pt-Basic_TB-BodyE-Column3-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyF-Column3-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-10pt-Basic_TB-BodyF-Column3-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyH-Column3-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-10pt-Basic_TB-BodyH-Column3-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyD-Column3-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-10pt-Basic_TB-BodyD-Column3-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyC-Column3-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyC-Column3-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyB-Column3-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-10pt-Basic_TB-BodyB-Column3-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyA-Column3-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyA-Column3-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyG-Column3-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-10pt-Basic_TB-BodyG-Column3-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}


