/* MadCap Table Style: */

/*<meta />*/

mcTableStyle {
	name: Center-Align-Header; 
	border-collapse: collapse; 
	border-left-style: solid; 
	border-left-width: 1px; 
	border-left-color: #000000; 
	border-right-style: solid; 
	border-right-width: 1px; 
	border-right-color: #000000; 
	border-top-style: solid; 
	border-top-width: 1px; 
	border-top-color: #000000; 
	border-bottom-style: solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #000000; 
}

mcTableColumnStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
}

mcTableHeadStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
	background-color: #99ccff; 
	text-align: center; 
}

mcTableBodyStyle {
	span: 1; 
	font-weight: normal; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
}

mcTableFootStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
}

 
 
/* Cell Styles: */
 
.TableStyle_Center-Align-Header
{
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 3px 3px 3px 3px;
}

.TableStyle_Center-Align-Header_Head_0_0
{
	text-align: center;
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Center-Align-Header_Head_0_0 p
{
	
}

.TableStyle_Center-Align-Header_Head_0_0_RowSep_ColSep
{
	text-align: center;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Center-Align-Header_Head_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Center-Align-Header_Head_0_0_RowSep
{
	text-align: center;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Center-Align-Header_Head_0_0_RowSep p
{
	
}

.TableStyle_Center-Align-Header_Head_0_0_ColSep
{
	text-align: center;
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Center-Align-Header_Head_0_0_ColSep p
{
	
}

.TableStyle_Center-Align-Header_Head_0_0_RowSep_ColEnd
{
	text-align: center;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Center-Align-Header_Head_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Center-Align-Header_Head_0_0_RowEnd
{
	text-align: center;
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Center-Align-Header_Head_0_0_RowEnd p
{
	
}

.TableStyle_Center-Align-Header_Head_0_0_RowEnd_ColSep
{
	text-align: center;
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Center-Align-Header_Head_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Center-Align-Header_Head_0_0_RowEnd_ColEnd
{
	text-align: center;
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Center-Align-Header_Head_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Center-Align-Header_Head_0_0_ColEnd
{
	text-align: center;
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Center-Align-Header_Head_0_0_ColEnd p
{
	
}

.TableStyle_Center-Align-Header_Body_0_0
{
	font-weight: normal;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Center-Align-Header_Body_0_0 p
{
	font-weight: normal;
}

.TableStyle_Center-Align-Header_Body_0_0_RowSep_ColSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Center-Align-Header_Body_0_0_RowSep_ColSep p
{
	font-weight: normal;
}

.TableStyle_Center-Align-Header_Body_0_0_RowSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Center-Align-Header_Body_0_0_RowSep p
{
	font-weight: normal;
}

.TableStyle_Center-Align-Header_Body_0_0_ColSep
{
	font-weight: normal;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Center-Align-Header_Body_0_0_ColSep p
{
	font-weight: normal;
}

.TableStyle_Center-Align-Header_Body_0_0_RowSep_ColEnd
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Center-Align-Header_Body_0_0_RowSep_ColEnd p
{
	font-weight: normal;
}

.TableStyle_Center-Align-Header_Body_0_0_RowEnd
{
	font-weight: normal;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Center-Align-Header_Body_0_0_RowEnd p
{
	font-weight: normal;
}

.TableStyle_Center-Align-Header_Body_0_0_RowEnd_ColSep
{
	font-weight: normal;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Center-Align-Header_Body_0_0_RowEnd_ColSep p
{
	font-weight: normal;
}

.TableStyle_Center-Align-Header_Body_0_0_RowEnd_ColEnd
{
	font-weight: normal;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Center-Align-Header_Body_0_0_RowEnd_ColEnd p
{
	font-weight: normal;
}

.TableStyle_Center-Align-Header_Body_0_0_ColEnd
{
	font-weight: normal;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Center-Align-Header_Body_0_0_ColEnd p
{
	font-weight: normal;
}

.TableStyle_Center-Align-Header_Foot_0_0
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Center-Align-Header_Foot_0_0 p
{
	
}

.TableStyle_Center-Align-Header_Foot_0_0_RowSep_ColSep
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Center-Align-Header_Foot_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Center-Align-Header_Foot_0_0_RowSep
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Center-Align-Header_Foot_0_0_RowSep p
{
	
}

.TableStyle_Center-Align-Header_Foot_0_0_ColSep
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Center-Align-Header_Foot_0_0_ColSep p
{
	
}

.TableStyle_Center-Align-Header_Foot_0_0_RowSep_ColEnd
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Center-Align-Header_Foot_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Center-Align-Header_Foot_0_0_RowEnd
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Center-Align-Header_Foot_0_0_RowEnd p
{
	
}

.TableStyle_Center-Align-Header_Foot_0_0_RowEnd_ColSep
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Center-Align-Header_Foot_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Center-Align-Header_Foot_0_0_RowEnd_ColEnd
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Center-Align-Header_Foot_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Center-Align-Header_Foot_0_0_ColEnd
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Center-Align-Header_Foot_0_0_ColEnd p
{
	
}

td.TableStyle_Basic_Column_Background
{
	background: #99ccff;
	border: solid 1px;
	border-color: #000000;
}

.pageBreak_inside_auto
{

}

@media print
{
	tr
	{
		page-break-inside: avoid;
	}

	.pageBreak_inside_auto
	{
		page-break-inside: auto;
	}

}
