/* MadCap Table Style: */

/*<meta Version="7" />*/

@media non-print
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		text-align: left;
		cell-padding-left: 3px;
		cell-padding-right: 3px;
		cell-padding-top: 3px;
		cell-padding-bottom: 3px;
	}

	mcTableBodyStyle
	{
		text-align: left;
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: NoBorders;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 3;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	id: 3;
	name: Header1;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 2;
}


/* Cell Styles: */
 
@media non-print
{
	.TableStyle-NoBorders
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-NoBorders .HeadI-Column1-Header1
	{
		text-align: left;
		padding-left: 3px;
		padding-right: 3px;
		padding-top: 3px;
		padding-bottom: 3px;
	}

	.TableStyle-NoBorders .HeadE-Column1-Header1
	{
		text-align: left;
		padding-left: 3px;
		padding-right: 3px;
		padding-top: 3px;
		padding-bottom: 3px;
	}

	.TableStyle-NoBorders .HeadF-Column1-Header1
	{
		text-align: left;
		padding-left: 3px;
		padding-right: 3px;
		padding-top: 3px;
		padding-bottom: 3px;
	}

	.TableStyle-NoBorders .HeadH-Column1-Header1
	{
		text-align: left;
		padding-left: 3px;
		padding-right: 3px;
		padding-top: 3px;
		padding-bottom: 3px;
	}

	.TableStyle-NoBorders .HeadD-Column1-Header1
	{
		text-align: left;
		padding-left: 3px;
		padding-right: 3px;
		padding-top: 3px;
		padding-bottom: 3px;
	}

	.TableStyle-NoBorders .HeadC-Column1-Header1
	{
		text-align: left;
		padding-left: 3px;
		padding-right: 3px;
		padding-top: 3px;
		padding-bottom: 3px;
	}

	.TableStyle-NoBorders .HeadB-Column1-Header1
	{
		text-align: left;
		padding-left: 3px;
		padding-right: 3px;
		padding-top: 3px;
		padding-bottom: 3px;
	}

	.TableStyle-NoBorders .HeadA-Column1-Header1
	{
		text-align: left;
		padding-left: 3px;
		padding-right: 3px;
		padding-top: 3px;
		padding-bottom: 3px;
	}

	.TableStyle-NoBorders .HeadG-Column1-Header1
	{
		text-align: left;
		padding-left: 3px;
		padding-right: 3px;
		padding-top: 3px;
		padding-bottom: 3px;
	}

	.TableStyle-NoBorders .BodyI-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-NoBorders .BodyE-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-NoBorders .BodyF-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-NoBorders .BodyH-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-NoBorders .BodyD-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-NoBorders .BodyC-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-NoBorders .BodyB-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-NoBorders .BodyA-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-NoBorders .BodyG-Column1-Body1
	{
		text-align: left;
	}
}

.TableStyle-NoBorders
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-NoBorders .Column-Column1
{
	
}

.TableStyle-NoBorders .Head-Header1
{
	
}

.TableStyle-NoBorders .HeadI-Column1-Header1
{
	
}

.TableStyle-NoBorders .HeadI-Column1-Header1 p
{
	
}

.TableStyle-NoBorders .HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-NoBorders .HeadE-Column1-Header1 p
{
	
}

.TableStyle-NoBorders .HeadF-Column1-Header1
{
	
}

.TableStyle-NoBorders .HeadF-Column1-Header1 p
{
	
}

.TableStyle-NoBorders .HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-NoBorders .HeadH-Column1-Header1 p
{
	
}

.TableStyle-NoBorders .HeadD-Column1-Header1
{
	
}

.TableStyle-NoBorders .HeadD-Column1-Header1 p
{
	
}

.TableStyle-NoBorders .HeadC-Column1-Header1
{
	
}

.TableStyle-NoBorders .HeadC-Column1-Header1 p
{
	
}

.TableStyle-NoBorders .HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-NoBorders .HeadB-Column1-Header1 p
{
	
}

.TableStyle-NoBorders .HeadA-Column1-Header1
{
	
}

.TableStyle-NoBorders .HeadA-Column1-Header1 p
{
	
}

.TableStyle-NoBorders .HeadG-Column1-Header1
{
	
}

.TableStyle-NoBorders .HeadG-Column1-Header1 p
{
	
}

.TableStyle-NoBorders .Foot-Footer1
{
	
}

.TableStyle-NoBorders .FootI-Column1-Footer1
{
	
}

.TableStyle-NoBorders .FootI-Column1-Footer1 p
{
	
}

.TableStyle-NoBorders .FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-NoBorders .FootE-Column1-Footer1 p
{
	
}

.TableStyle-NoBorders .FootF-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-NoBorders .FootF-Column1-Footer1 p
{
	
}

.TableStyle-NoBorders .FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-NoBorders .FootH-Column1-Footer1 p
{
	
}

.TableStyle-NoBorders .FootD-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-NoBorders .FootD-Column1-Footer1 p
{
	
}

.TableStyle-NoBorders .FootC-Column1-Footer1
{
	
}

.TableStyle-NoBorders .FootC-Column1-Footer1 p
{
	
}

.TableStyle-NoBorders .FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-NoBorders .FootB-Column1-Footer1 p
{
	
}

.TableStyle-NoBorders .FootA-Column1-Footer1
{
	
}

.TableStyle-NoBorders .FootA-Column1-Footer1 p
{
	
}

.TableStyle-NoBorders .FootG-Column1-Footer1
{
	
}

.TableStyle-NoBorders .FootG-Column1-Footer1 p
{
	
}

.TableStyle-NoBorders .Body-Body1
{
	
}

.TableStyle-NoBorders .BodyI-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-NoBorders .BodyI-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-NoBorders .BodyE-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-NoBorders .BodyE-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-NoBorders .BodyF-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-NoBorders .BodyF-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-NoBorders .BodyH-Column1-Body1
{
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-NoBorders .BodyH-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-NoBorders .BodyD-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-NoBorders .BodyD-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-NoBorders .BodyC-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-NoBorders .BodyC-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-NoBorders .BodyB-Column1-Body1
{
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-NoBorders .BodyB-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-NoBorders .BodyA-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-NoBorders .BodyA-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-NoBorders .BodyG-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-NoBorders .BodyG-Column1-Body1 p
{
	font-weight: normal;
}


