/* MadCap Table Style: */

/*<meta Version="7" />*/

@media print
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		text-align: center;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: Basic_Left;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 3;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #99ccff;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	text-align: left;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-Basic_Left
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-Basic_Left .HeadI-Column1-Header1
	{
		text-align: center;
	}

	.TableStyle-Basic_Left .HeadE-Column1-Header1
	{
		text-align: center;
	}

	.TableStyle-Basic_Left .HeadF-Column1-Header1
	{
		text-align: center;
	}

	.TableStyle-Basic_Left .HeadH-Column1-Header1
	{
		text-align: center;
	}

	.TableStyle-Basic_Left .HeadD-Column1-Header1
	{
		text-align: center;
	}

	.TableStyle-Basic_Left .HeadC-Column1-Header1
	{
		text-align: center;
	}

	.TableStyle-Basic_Left .HeadB-Column1-Header1
	{
		text-align: center;
	}

	.TableStyle-Basic_Left .HeadA-Column1-Header1
	{
		text-align: center;
	}

	.TableStyle-Basic_Left .HeadG-Column1-Header1
	{
		text-align: center;
	}
}

.TableStyle-Basic_Left
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Basic_Left .Column-Column1
{
	
}

.TableStyle-Basic_Left .Head-Header1
{
	
}

.TableStyle-Basic_Left .HeadI-Column1-Header1
{
	text-align: left;
	background-color: #99ccff;
}

.TableStyle-Basic_Left .HeadI-Column1-Header1 p
{
	
}

.TableStyle-Basic_Left .HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Basic_Left .HeadE-Column1-Header1 p
{
	
}

.TableStyle-Basic_Left .HeadF-Column1-Header1
{
	text-align: left;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Basic_Left .HeadF-Column1-Header1 p
{
	
}

.TableStyle-Basic_Left .HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	background-color: #99ccff;
}

.TableStyle-Basic_Left .HeadH-Column1-Header1 p
{
	
}

.TableStyle-Basic_Left .HeadD-Column1-Header1
{
	text-align: left;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Basic_Left .HeadD-Column1-Header1 p
{
	
}

.TableStyle-Basic_Left .HeadC-Column1-Header1
{
	text-align: left;
	background-color: #99ccff;
}

.TableStyle-Basic_Left .HeadC-Column1-Header1 p
{
	
}

.TableStyle-Basic_Left .HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	background-color: #99ccff;
}

.TableStyle-Basic_Left .HeadB-Column1-Header1 p
{
	
}

.TableStyle-Basic_Left .HeadA-Column1-Header1
{
	text-align: left;
	background-color: #99ccff;
}

.TableStyle-Basic_Left .HeadA-Column1-Header1 p
{
	
}

.TableStyle-Basic_Left .HeadG-Column1-Header1
{
	text-align: left;
	background-color: #99ccff;
}

.TableStyle-Basic_Left .HeadG-Column1-Header1 p
{
	
}

.TableStyle-Basic_Left .Foot-Footer1
{
	
}

.TableStyle-Basic_Left .FootI-Column1-Footer1
{
	
}

.TableStyle-Basic_Left .FootI-Column1-Footer1 p
{
	
}

.TableStyle-Basic_Left .FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Basic_Left .FootE-Column1-Footer1 p
{
	
}

.TableStyle-Basic_Left .FootF-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Basic_Left .FootF-Column1-Footer1 p
{
	
}

.TableStyle-Basic_Left .FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basic_Left .FootH-Column1-Footer1 p
{
	
}

.TableStyle-Basic_Left .FootD-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Basic_Left .FootD-Column1-Footer1 p
{
	
}

.TableStyle-Basic_Left .FootC-Column1-Footer1
{
	
}

.TableStyle-Basic_Left .FootC-Column1-Footer1 p
{
	
}

.TableStyle-Basic_Left .FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basic_Left .FootB-Column1-Footer1 p
{
	
}

.TableStyle-Basic_Left .FootA-Column1-Footer1
{
	
}

.TableStyle-Basic_Left .FootA-Column1-Footer1 p
{
	
}

.TableStyle-Basic_Left .FootG-Column1-Footer1
{
	
}

.TableStyle-Basic_Left .FootG-Column1-Footer1 p
{
	
}

.TableStyle-Basic_Left .Body-Body1
{
	
}

.TableStyle-Basic_Left .BodyI-Column1-Body1
{
	text-align: left;
}

.TableStyle-Basic_Left .BodyI-Column1-Body1 p
{
	
}

.TableStyle-Basic_Left .BodyE-Column1-Body1
{
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basic_Left .BodyE-Column1-Body1 p
{
	
}

.TableStyle-Basic_Left .BodyF-Column1-Body1
{
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Basic_Left .BodyF-Column1-Body1 p
{
	
}

.TableStyle-Basic_Left .BodyH-Column1-Body1
{
	text-align: left;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basic_Left .BodyH-Column1-Body1 p
{
	
}

.TableStyle-Basic_Left .BodyD-Column1-Body1
{
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Basic_Left .BodyD-Column1-Body1 p
{
	
}

.TableStyle-Basic_Left .BodyC-Column1-Body1
{
	text-align: left;
}

.TableStyle-Basic_Left .BodyC-Column1-Body1 p
{
	
}

.TableStyle-Basic_Left .BodyB-Column1-Body1
{
	text-align: left;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basic_Left .BodyB-Column1-Body1 p
{
	
}

.TableStyle-Basic_Left .BodyA-Column1-Body1
{
	text-align: left;
}

.TableStyle-Basic_Left .BodyA-Column1-Body1 p
{
	
}

.TableStyle-Basic_Left .BodyG-Column1-Body1
{
	text-align: left;
}

.TableStyle-Basic_Left .BodyG-Column1-Body1 p
{
	
}


