/* MadCap Table Style: */

/*<meta />*/

mcTableStyle {
	name: NoBorders; 
	border-collapse: collapse; 
	border-left-style: none; 
	border-left-width: 1px; 
	border-left-color: #000000; 
	border-right-style: none; 
	border-right-width: 1px; 
	border-right-color: #000000; 
	border-top-style: none; 
	border-top-width: 1px; 
	border-top-color: #000000; 
	border-bottom-style: none; 
	border-bottom-width: 1px; 
	border-bottom-color: #000000; 
}

mcTableColumnStyle {
	span: 1; 
	separator-style: none; 
	separator-width: 1px; 
	separator-color: #000000; 
}

mcTableBodyStyle {
	span: 1; 
	font-weight: normal; 
	separator-style: none; 
	separator-width: 1px; 
	separator-color: #000000; 
}

mcTableFootStyle {
	span: 1; 
	separator-style: none; 
	separator-width: 1px; 
	separator-color: #000000; 
}

 
 
/* Cell Styles: */
 
.TableStyle_NoBorders
{
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 0px 0px 0px 0px;
}

.TableStyle_NoBorders_Body_0_0
{
	font-weight: normal;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_NoBorders_Body_0_0 p
{
	font-weight: normal;
}

.TableStyle_NoBorders_Body_0_0_RowSep_ColSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_NoBorders_Body_0_0_RowSep_ColSep p
{
	font-weight: normal;
}

.TableStyle_NoBorders_Body_0_0_RowSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_NoBorders_Body_0_0_RowSep p
{
	font-weight: normal;
}

.TableStyle_NoBorders_Body_0_0_ColSep
{
	font-weight: normal;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_NoBorders_Body_0_0_ColSep p
{
	font-weight: normal;
}

.TableStyle_NoBorders_Body_0_0_RowSep_ColEnd
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_NoBorders_Body_0_0_RowSep_ColEnd p
{
	font-weight: normal;
}

.TableStyle_NoBorders_Body_0_0_RowEnd
{
	font-weight: normal;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_NoBorders_Body_0_0_RowEnd p
{
	font-weight: normal;
}

.TableStyle_NoBorders_Body_0_0_RowEnd_ColSep
{
	font-weight: normal;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_NoBorders_Body_0_0_RowEnd_ColSep p
{
	font-weight: normal;
}

.TableStyle_NoBorders_Body_0_0_RowEnd_ColEnd
{
	font-weight: normal;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_NoBorders_Body_0_0_RowEnd_ColEnd p
{
	font-weight: normal;
}

.TableStyle_NoBorders_Body_0_0_ColEnd
{
	font-weight: normal;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_NoBorders_Body_0_0_ColEnd p
{
	font-weight: normal;
}

.TableStyle_NoBorders_Foot_0_0
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_NoBorders_Foot_0_0 p
{
	
}

.TableStyle_NoBorders_Foot_0_0_RowSep_ColSep
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_NoBorders_Foot_0_0_RowSep_ColSep p
{
	
}

.TableStyle_NoBorders_Foot_0_0_RowSep
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_NoBorders_Foot_0_0_RowSep p
{
	
}

.TableStyle_NoBorders_Foot_0_0_ColSep
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_NoBorders_Foot_0_0_ColSep p
{
	
}

.TableStyle_NoBorders_Foot_0_0_RowSep_ColEnd
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_NoBorders_Foot_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_NoBorders_Foot_0_0_RowEnd
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_NoBorders_Foot_0_0_RowEnd p
{
	
}

.TableStyle_NoBorders_Foot_0_0_RowEnd_ColSep
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_NoBorders_Foot_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_NoBorders_Foot_0_0_RowEnd_ColEnd
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_NoBorders_Foot_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_NoBorders_Foot_0_0_ColEnd
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_NoBorders_Foot_0_0_ColEnd p
{
	
}

.pageBreak_inside_auto
{

}

@media print
{
	tr
	{
		page-break-inside: avoid;
	}

	.pageBreak_inside_auto
	{
		page-break-inside: auto;
	}

}

