/* MadCap Table Style: */

/*<meta Version="7" />*/

@media non-print
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		text-align: left;
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: Basket_Basic;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 4;
	margin-left: -0.50in;
	margin-right: -0.50in;
	margin-top: 0px;
	margin-bottom: 0px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	background-color: #99ccff;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	page-break-inside: avoid;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
@media non-print
{
	.TableStyle-Basket_Basic
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-Basket_Basic .BodyI-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Basket_Basic .BodyE-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Basket_Basic .BodyF-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Basket_Basic .BodyH-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Basket_Basic .BodyD-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Basket_Basic .BodyC-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Basket_Basic .BodyB-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Basket_Basic .BodyA-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Basket_Basic .BodyG-Column1-Body1
	{
		text-align: left;
	}
}

.TableStyle-Basket_Basic
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: -0.50in;
	margin-right: -0.50in;
	margin-top: 0px;
	margin-bottom: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-Basket_Basic .Column-Column1
{
	
}

.TableStyle-Basket_Basic .Head-Header1
{
	
}

.TableStyle-Basket_Basic .HeadI-Column1-Header1
{
	background-color: #99ccff;
}

.TableStyle-Basket_Basic .HeadI-Column1-Header1 p
{
	
}

.TableStyle-Basket_Basic .HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Basket_Basic .HeadE-Column1-Header1 p
{
	
}

.TableStyle-Basket_Basic .HeadF-Column1-Header1
{
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Basket_Basic .HeadF-Column1-Header1 p
{
	
}

.TableStyle-Basket_Basic .HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #99ccff;
}

.TableStyle-Basket_Basic .HeadH-Column1-Header1 p
{
	
}

.TableStyle-Basket_Basic .HeadD-Column1-Header1
{
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Basket_Basic .HeadD-Column1-Header1 p
{
	
}

.TableStyle-Basket_Basic .HeadC-Column1-Header1
{
	background-color: #99ccff;
}

.TableStyle-Basket_Basic .HeadC-Column1-Header1 p
{
	
}

.TableStyle-Basket_Basic .HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #99ccff;
}

.TableStyle-Basket_Basic .HeadB-Column1-Header1 p
{
	
}

.TableStyle-Basket_Basic .HeadA-Column1-Header1
{
	background-color: #99ccff;
}

.TableStyle-Basket_Basic .HeadA-Column1-Header1 p
{
	
}

.TableStyle-Basket_Basic .HeadG-Column1-Header1
{
	background-color: #99ccff;
}

.TableStyle-Basket_Basic .HeadG-Column1-Header1 p
{
	
}

.TableStyle-Basket_Basic .Foot-Footer1
{
	
}

.TableStyle-Basket_Basic .FootI-Column1-Footer1
{
	
}

.TableStyle-Basket_Basic .FootI-Column1-Footer1 p
{
	
}

.TableStyle-Basket_Basic .FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Basket_Basic .FootE-Column1-Footer1 p
{
	
}

.TableStyle-Basket_Basic .FootF-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Basket_Basic .FootF-Column1-Footer1 p
{
	
}

.TableStyle-Basket_Basic .FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basket_Basic .FootH-Column1-Footer1 p
{
	
}

.TableStyle-Basket_Basic .FootD-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Basket_Basic .FootD-Column1-Footer1 p
{
	
}

.TableStyle-Basket_Basic .FootC-Column1-Footer1
{
	
}

.TableStyle-Basket_Basic .FootC-Column1-Footer1 p
{
	
}

.TableStyle-Basket_Basic .FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basket_Basic .FootB-Column1-Footer1 p
{
	
}

.TableStyle-Basket_Basic .FootA-Column1-Footer1
{
	
}

.TableStyle-Basket_Basic .FootA-Column1-Footer1 p
{
	
}

.TableStyle-Basket_Basic .FootG-Column1-Footer1
{
	
}

.TableStyle-Basket_Basic .FootG-Column1-Footer1 p
{
	
}

.TableStyle-Basket_Basic .Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-Basket_Basic .BodyI-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-Basket_Basic .BodyI-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Basket_Basic .BodyE-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basket_Basic .BodyE-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Basket_Basic .BodyF-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Basket_Basic .BodyF-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Basket_Basic .BodyH-Column1-Body1
{
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basket_Basic .BodyH-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Basket_Basic .BodyD-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Basket_Basic .BodyD-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Basket_Basic .BodyC-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-Basket_Basic .BodyC-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Basket_Basic .BodyB-Column1-Body1
{
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basket_Basic .BodyB-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Basket_Basic .BodyA-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-Basket_Basic .BodyA-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Basket_Basic .BodyG-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-Basket_Basic .BodyG-Column1-Body1 p
{
	font-weight: normal;
}


